:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 100px 15rem 15rem;
    width: 100vw;
    height: auto;
    background: var(--blue);
    text-align: center;
    color: var(--page-background);
}

h1 {
    font-size: 48px;
}

header p {
    font-size: 18px;
}

main {
    display: flex;
    margin-top: -10rem;
    justify-content: space-around;
    padding-left: 20vw;
    padding-right: 20vw;
}

.form {
    background: var(--page-background);
    color: var(--gray);
    border-radius: 0.2rem;
    margin: 1rem;
    border: solid 1px var(--gray);
    height: 100%;
}

.form #pop {
    background: var(--yellow);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.2rem;
}

.form .plano {
    padding: 1rem;
}

.form #pop button {
    background-color: var(--blue);
    border-radius: .8rem;
    padding: .3rem;
}

.form .btn {
    display: flex;
    height: 100%;
    justify-content: center;
}

.form .btn button {
    background-color: var(--blue);
    padding: .6rem;
    font-size: 12pt;
    border-radius: .5rem;
    width: 90%;
    margin-bottom: 1rem;
}

.form form .border button {
    background: var(--page-background);
    border: solid 2px var(--blue);
}

.form .conteudo {
    padding: 1rem;
}

ul li {
    list-style: none;
    margin-top: 6px;
    margin-bottom: 6px;
}

@media only screen and (max-width: 900px) {
    header {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    main {
        flex-direction: column;
        padding-left: 8vw;
        padding-right: 8vw;
    }
}